.pr {
  position: relative;
}

.cf::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 960px;
  margin: 0 auto 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

.wordHidden {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.wordHidden.oneline {
  -webkit-line-clamp: 1;
}

.wordHidden.twoline {
  -webkit-line-clamp: 2;
}

.wordHidden.threeline {
  -webkit-line-clamp: 3;
}
