// 颜色部分
// 黑色系
$black-font: #333;
$black-bg: #2b2b2b;

// 蓝色系
$blue-font: #4788f7;
$blue-bg: #578df8;


// 灰色系
$gray-bg: #d6e1ee;
$gray-border: #eaeefa;


// 圆角部分
$border-radius-default: 4px;

// 字体
// 文章标题字体大小
$font-size-title: 26px;

// 文章字体
$font-size-article: 14px;

// 备注字体
$font-size-comment: 12px;

// padding大小
$padding-small: 10px;
$padding-middle: 15px;
$padding-big: 20px;

// margin大小
$margin-small: 10px;
$margin-middle: 20px;
$margin-big: 30px;



