@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  vertical-align: middle;
}

.pr {
  position: relative;
}

.cf::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto 0;
}

/*!导航部分 */
.nav-wrap {
  background: #2b2b2b;
}

.nav {
  height: 40px;
  display: flex;
}

.nav .logo {
  height: 40px;
}

.nav .logo a {
  display: block;
}

.nav .logo img {
  height: 40px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.nav ul {
  display: flex;
  height: 40px;
  width: 100%;
  flex-direction: row-reverse;
}

.nav ul li a {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 40px;
  color: white;
}

.nav ul li a:hover {
  color: #4788f7;
}

/*! banner*/
.banner a {
  display: block;
}

.banner a img {
  width: 100%;
}

/*! 主体部分 */
/*! 底部部分*/
.footer-wrap {
  background: #2b2b2b;
}

.footer-wrap p {
  height: 40px;
  text-align: center;
  color: white;
  line-height: 40px;
}

.footer-wrap p:hover {
  cursor: pointer;
  color: #4788f7;
}
