@import './common/common.scss';

/*!导航部分 */
.nav-wrap {
    background: $black-bg;
}

.nav {
    height: 40px;
    display: flex;

    .logo {
        height: 40px;

        a {
            display: block;
        }

        img {
            height: 40px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        }
    }

    ul {
        display: flex;
        height: 40px;
        width: 100%;
        flex-direction: row-reverse;

        li {
            a {
                padding-left: 20px;
                padding-right: 20px;
                line-height: 40px;
                color: white;

                &:hover {
                    color: $blue-font;
                }
            }
        }
    }
}


/*! banner*/
.banner {

    a {
        display: block;

        img {
            width: 100%;
        }
    }
}

/*! 主体部分 */


/*! 底部部分*/
.footer-wrap {
    background: $black-bg;

    p {
        height: 40px;
        text-align: center;
        color: white;
        line-height: 40px;

        &:hover {
            cursor: pointer;
            color: $blue-font;
        }
    }
}