* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

image {
  vertical-align: middle;
}

.pr {
  position: relative;
}

.cf::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto 0;
}
